html, body {
  background-color: #1e1e1e;
  color: #F6F6F6;
  padding: 50px;
}

input {
  min-width: 150px;
  background: transparent;
  color: #F6F6F6;
  border-width: 1px;
  border-color: #d5d5d5;
  margin: 8px 8px 16px 0;
  padding: 4px;
  outline: 0;
  border-radius: 4px;
  font-size: 16px;
}

button {
  font-size: 16px;
  background-color: #3d9ad7;
  color: #F6F6F6;
  border: none;
  padding: 4px 16px;
  border-radius: 8px;
  outline-width: 1px;
}

span {
  display: inline-block;
  min-width: 185px;
  margin: 8px 0;
}

ul {
  padding: 0;
  margin: 0;
}

.app {
  display: flex
}

.file-list {
  /* display: ; */
}